/* CSS Document */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  display: block;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.8;
  word-break: break-all;
}

a {
  color: #7db9e7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#backToTop {
  position: fixed;
  z-index: 9999;
  bottom: 25px;
  right: 25px;
}

#backToTop a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  background-color: #47c79d;
}

/* --------------------------------
　全体
--------------------------------- */

.inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* --------------------------------
　header
--------------------------------- */

#header {
  background-color: #ccc;
}

#header .logo a {
  color: #000;
  text-decoration: none;
}

/* --------------------------------
　globalnavi
--------------------------------- */

.gnav {
  background-color: #eee;
}

/* --------------------------------
　section
--------------------------------- */

.section {
  background-color: #ddd;
  height: 500px;
  padding: 10px 0;
}

/* --------------------------------
  Footer
--------------------------------- */

#footer {
  background-color: #aaa;
}

#footer .inner {
  padding: 20px 10px;
}

#footer .footer-link a {
  color: #fff;
}

#footer .copyright {
  font-size: 12px;
}

#footer .copyright a {
  color: #333;
}

/* media Queries 767
---------------------------------------------------- */

//@media screen and (max-width: 767px) {
//
//}
